In [1]:
import os
from dotenv import load_dotenv

load_dotenv()
print("PGDATABASE =", os.getenv("PGDATABASE"))
print("PGUSER =", os.getenv("PGUSER"))

PGDATABASE = analytics_db
PGUSER = postgres

In [5]:
import os
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus
from dotenv import load_dotenv

load_dotenv()  # reads .env in the current folder

engine = create_engine(
    f"postgresql+psycopg2://{os.getenv('PGUSER')}:{quote_plus(os.getenv('PGPASSWORD'))}"
    f"@{os.getenv('PGHOST')}:{os.getenv('PGPORT')}/{os.getenv('PGDATABASE')}"
)

In [6]:
pd.read_sql("SELECT current_database() AS db, current_user AS usr, now() AS ts;", engine)

             db       usr                               ts
0  analytics_db  postgres 2026-01-12 10:03:48.184739+00:00

In [7]:
with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE TABLE IF NOT EXISTS public.python_check (
            id serial PRIMARY KEY,
            created_at timestamptz DEFAULT now()
        );
    """)
    conn.exec_driver_sql("INSERT INTO public.python_check DEFAULT VALUES;")

pd.read_sql("SELECT * FROM public.python_check ORDER BY id DESC LIMIT 5;", engine)

   id                       created_at
0   4 2026-01-12 10:04:02.181314+00:00
1   3 2026-01-12 09:46:41.751301+00:00
2   2 2026-01-12 09:46:09.463063+00:00
3   1 2026-01-12 09:42:43.549800+00:00

In [1]:
import os
print(os.getcwd())

C:\Users\HomePC\Projects\data-portfolio\notebooks