In [1]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

user = "postgres"
password = "SamMsh!@25"      # your real password here
host = "localhost"
port = 5432
db = "postgres"             # or "analytics_db"

engine = create_engine(
    f"postgresql+psycopg2://{user}:{quote_plus(password)}@{host}:{port}/{db}"
)

pd.read_sql("SELECT version();", engine)

                                             version
0  PostgreSQL 18.1 on x86_64-windows, compiled by...

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

user = "postgres"
password = "SamMsh!@25"
host = "localhost"
port = 5432
db = "analytics_db"   # <-- switch here

engine = create_engine(
    f"postgresql+psycopg2://{user}:{quote_plus(password)}@{host}:{port}/{db}"
)

pd.read_sql("SELECT current_database() as db, now() as connected_time;", engine)

             db                   connected_time
0  analytics_db 2026-01-12 09:42:26.906867+00:00

In [3]:
with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE TABLE IF NOT EXISTS python_check (
            id serial PRIMARY KEY,
            created_at timestamptz DEFAULT now()
        );
    """)
    conn.exec_driver_sql("INSERT INTO python_check DEFAULT VALUES;")

pd.read_sql("SELECT * FROM python_check ORDER BY id DESC LIMIT 5;", engine)

   id                       created_at
0   1 2026-01-12 09:42:43.549800+00:00

In [4]:
import sys
sys.executable

'C:\\Users\\HomePC\\anaconda3\\envs\\ba\\python.exe'

In [5]:
import pandas as pd
from sqlalchemy import create_engine
from urllib.parse import quote_plus

user = "postgres"
password = "SamMsh!@25"      # <-- your password
host = "localhost"
port = 5432
db = "analytics_db"          # <-- this is the goal

engine = create_engine(
    f"postgresql+psycopg2://{user}:{quote_plus(password)}@{host}:{port}/{db}"
)

pd.read_sql("SELECT current_database() AS db, now() AS connected_time;", engine)

             db                   connected_time
0  analytics_db 2026-01-12 09:45:44.168817+00:00

In [7]:
with engine.begin() as conn:
    conn.exec_driver_sql("""
        CREATE TABLE IF NOT EXISTS public.python_check (
            id serial PRIMARY KEY,
            created_at timestamptz DEFAULT now()
        );
    """)
    conn.exec_driver_sql("INSERT INTO public.python_check DEFAULT VALUES;")

In [8]:
pd.read_sql("SELECT * FROM public.python_check ORDER BY id DESC LIMIT 5;", engine)

   id                       created_at
0   3 2026-01-12 09:46:41.751301+00:00
1   2 2026-01-12 09:46:09.463063+00:00
2   1 2026-01-12 09:42:43.549800+00:00